# Mike Babb
# babbm@uw.edu
# Introduction to Python Part 00

## Jupyter Notebook Tips

In [1]:
# comments begin with a "#" character.

# command mode: blue highlight
# edit mode: green highlight
# press H in command mode to bring up the keyboard short cut menu
# press "ctrl+enter" at the same time to run the cell
# press the "down arrow" key to go to the cell below
# press the "up arrow" key to go to the cell above
# press "enter" to activate a cell

## hello world

In [2]:
#'Hello world' example

In [3]:
print('hello world')

hello world

## working with numbers

In [4]:
# numbers: integers (whole numbers, no decimals)
x = 1

In [5]:
x

1

In [6]:
# numbers: floats (floating point numbers, with decimals)
x = 10.0

In [7]:
x

10.0

In [8]:
# addition
y = 3

In [9]:
z = x + y

In [10]:
z

13.0

In [11]:
# division
x / 2

5.0

In [12]:
x

10.0

In [13]:
# try a few examples on your own in the cell below
# (in edit mode, press B to add a cell below)

## working with strings

In [14]:
# strings: (alpha-numeric characters surrounded by single or double quotation marks)
x = 'geography'

In [15]:
y = "geography"

In [16]:
# test for equality
x==y

True

In [17]:
# python is case sensitive for variable values and variable names
y = 'Geography'

In [18]:
x==y

False

In [19]:
Y='geography'

In [20]:
y==Y

False

In [21]:
# can we add strings?
z = x + y

In [22]:
# yes...
z

'geographyGeography'

In [23]:
# strings have many properties and methods!
# please see this page for more information:
# https://docs.python.org/3/library/stdtypes.html

In [24]:
# For example, determining the number of characters in the string.
# This is the length of the string.
# We do this by calling the len() function.
# The len() function works with many objects.
len(x)

9

In [25]:
# In some sense, strings can be thought of as a list of characters
# we can create a list (another python data type) of characters by the entering the following:
string_list = list(x)

In [26]:
string_list

['g', 'e', 'o', 'g', 'r', 'a', 'p', 'h', 'y']

In [27]:
# Calling the list function breaks up the string into each character!
# We can call the same len() function to determine the length of our list.
# It's the same as above.
len(string_list)

9

In [28]:
# this indicates we have a list nine items long

In [29]:
# an easy way to tell what type of object we are working with:
type(string_list)

list

In [30]:
type(x)

str

In [31]:
# we can print each character in our list if we want
for character in string_list:
    print(character)

g
e
o
g
r
a
p
h
y

In [32]:
# or access individual items in our list

In [33]:
string_list[0] # the zeroeth character. Notice the square brackets.

'g'

In [34]:
string_list[-1] # the last character

'y'

In [35]:
string_list[8] # same as above

'y'

In [36]:
string_list[len(string_list)-1] # same

'y'