# Mike Babb
# babbm@uw.edu
# Introduction to Python Part 01

In [1]:
# Problem Definition

In [2]:
# standard libraries - installed by default
import csv
from itertools import permutations, combinations
import math
import os
import time

In [3]:
# external libraries - not installed by default
import numpy as np
import pandas as pd

In [4]:
# set up our input file path and name
in_file_path = 'H:/git/anagrams'    
in_file_name = 'words.txt'    
in_fpn = os.path.join(in_file_path, in_file_name)    
in_fpn = in_file_name

In [5]:
# use pandas to load the data
print('Reading in list of words...')
word_df = pd.read_csv(filepath_or_buffer = in_fpn, sep = ',', header = None)    
# check the first few rows

Reading in list of words...

In [6]:
# check the first few records
word_df.head()

       0
0      A
1      a
2     aa
3    aal
4  aalii

In [7]:
# let's specify a a more appropriate column name
col_names = ['word']
word_df.columns = col_names

In [8]:
# how many words are we working with?
n_words = len(word_df)
print('...found', '{:,}'.format(n_words), 'words to find anagrams for...')

...found 235,886 words to find anagrams for...

In [9]:
# convert the only column to a string - just to be safe.
# nan is a word in the dictionary. nan is an internal python value.
word_df['word'] = word_df['word'].astype(np.str)

In [10]:
# create lower case values of the words
word_df['lcase'] = word_df['word'].str.lower()
# and now drop duplicates
word_df = word_df.drop_duplicates('lcase')

In [11]:
# 1. find word length
word_df['n_chars'] = word_df['lcase'].str.len()

In [12]:
# 2. extract the first letter
word_df['first_letter'] = word_df['lcase'].str[:1]

In [13]:
# 3. Let's aggregate the data to create a new dataframe featuring the counts of words by word length
agg_word_df = word_df['n_chars'].groupby(word_df['n_chars']).agg(np.size).to_frame()
col_names = ['n_words']
agg_word_df.columns = col_names
agg_word_df =  agg_word_df.reset_index()

In [14]:
agg_word_df.head()
# there are 26 one letter words... that checks out

   n_chars  n_words
0        1       26
1        2      139
2        3     1294
3        4     4993
4        5     9972

In [15]:
# and the tail
agg_word_df.tail()

    n_chars  n_words
19       20      198
20       21       82
21       22       41
22       23       17
23       24        5

In [16]:
# let's do a cross tab - word length by start character
select_columns = ['first_letter', 'n_chars']
ct_word_df = pd.crosstab(index=word_df['first_letter'], columns=word_df['n_chars'])

In [17]:
# check it
ct_word_df.head()
# looks right

n_chars,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
first_letter,,,,,,,,,,,,,,,,,,,,,
a,1,17,100,305,786,1281,1722,2073,2321,2333,...,413,228,125,64,30,19,8,2,1,0
b,1,5,59,332,712,1294,1634,1785,1620,1285,...,136,66,37,20,14,7,1,1,1,0
c,1,2,47,279,732,1408,2053,2434,2780,2639,...,503,305,171,81,43,20,15,4,0,0
d,1,4,59,257,451,807,1089,1396,1525,1504,...,258,129,72,31,13,6,6,4,0,0
e,1,11,40,118,245,538,846,1122,1260,1224,...,238,124,78,40,29,12,3,2,1,0

In [18]:
#  reset the index and write to excel
ct_word_df = ct_word_df.reset_index()

In [19]:
ct_word_df.head()

n_chars,first_letter,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,a,1,17,100,305,786,1281,1722,2073,2321,...,413,228,125,64,30,19,8,2,1,0
1,b,1,5,59,332,712,1294,1634,1785,1620,...,136,66,37,20,14,7,1,1,1,0
2,c,1,2,47,279,732,1408,2053,2434,2780,...,503,305,171,81,43,20,15,4,0,0
3,d,1,4,59,257,451,807,1089,1396,1525,...,258,129,72,31,13,6,6,4,0,0
4,e,1,11,40,118,245,538,846,1122,1260,...,238,124,78,40,29,12,3,2,1,0

In [20]:
# the amazing thing about pandas is that we can write to disk in a variety of formats.
# Let's pick excel for now.

In [21]:
# setup the output path
e_file_path = 'H:/git/anagrams'
e_file_name = 'words_analysis.xlsx'
e_fpn = os.path.join(e_file_path, e_file_name)
e_fpn = e_file_name

In [22]:
# create the writer object
e_writer = pd.ExcelWriter(e_fpn)

In [23]:
# let's first write the list of words
word_df.to_excel(excel_writer=e_writer, sheet_name='word_list', index = False)

In [24]:
# let's write the count of words by character length
agg_word_df.to_excel(excel_writer=e_writer, sheet_name='word_count_by_length', index = False)

In [25]:
ct_word_df.to_excel(excel_writer=e_writer, sheet_name='word_count_by_length_by_letter', index = False)

In [26]:
# save and close the excel file
e_writer.save()
e_writer.close()

In [27]:
word_df.head()

    word  lcase  n_chars first_letter
0      A      a        1            a
2     aa     aa        2            a
3    aal    aal        3            a
4  aalii  aalii        5            a
5    aam    aam        3            a

# what if we were trying to find all words by a brute-force technique?

In [28]:
# let's play with pandas to learn some facts about our list of words and show case how to use pandas
# we're going to make extensive use of the string functions in python and the pandas variates
# pure python: https://docs.python.org/3.6/library/string.html
# pandas versions: https://pandas.pydata.org/pandas-docs/stable/text.html#working-with-text-data

In [29]:
# what is the maximum character length?
max_char_length = agg_word_df['n_chars'].max()

In [30]:
max_char_length = 20

In [31]:
max_char_length

20

In [32]:
# how many possible combinations are there?

In [33]:
n_permutations = math.factorial(max_char_length)

In [34]:
n_permutations

2432902008176640000

In [35]:
# to check all permutations for one 24-character word
# assuming our computer can perform x checks per second
checks_per_second = 100000

In [36]:
n_seconds = n_permutations / checks_per_second

In [37]:
print('examining permutations takes', '{:,}'.format(n_seconds), 'seconds...')

examining permutations takes 24,329,020,081,766.4 seconds...

In [38]:
n_minutes = n_seconds / 60

In [39]:
print('examining permutations takes', '{:,}'.format(n_minutes), 'minutes...')

examining permutations takes 405,483,668,029.44 minutes...

In [40]:
n_hours = n_minutes / 60

In [41]:
print('examining permutations takes', '{:,}'.format(n_hours), 'hours...')

examining permutations takes 6,758,061,133.824 hours...

In [42]:
n_days = n_hours / 24

In [43]:
print('examining permutations takes', '{:,}'.format(n_days), 'days...')

examining permutations takes 281,585,880.57600003 days...

In [44]:
n_years = n_days / 365

In [45]:
print('examining permutations takes', '{:,}'.format(n_years), 'years...')

examining permutations takes 771,468.1659616439 years...

In [46]:
# if we were to check all permutations of all words...
agg_word_df['n_char_factorial'] = agg_word_df['n_chars'].map(math.factorial)

In [47]:
# and do that for each word...
agg_word_df['n_char_checks'] = agg_word_df['n_words'] * agg_word_df['n_char_factorial']

In [48]:
total_checks = agg_word_df['n_char_checks'].sum()

In [49]:
# assuming we can process:
# 1M permutations a second
checks_per_second = 1000000000

In [50]:
processing_time = total_checks / checks_per_second

In [51]:
processing_years = processing_time / 60 / 60 / 24 / 365

In [52]:
print('examining all permutations takes', '{:,}'.format(processing_years), 'years...')

examining all permutations takes 113,918,685.75722675 years...

In [53]:
# that's a long time!

# let's re-think our approach by first focusing on one word: time

In [54]:
for p in permutations('time'):
    print(p)

('t', 'i', 'm', 'e')
('t', 'i', 'e', 'm')
('t', 'm', 'i', 'e')
('t', 'm', 'e', 'i')
('t', 'e', 'i', 'm')
('t', 'e', 'm', 'i')
('i', 't', 'm', 'e')
('i', 't', 'e', 'm')
('i', 'm', 't', 'e')
('i', 'm', 'e', 't')
('i', 'e', 't', 'm')
('i', 'e', 'm', 't')
('m', 't', 'i', 'e')
('m', 't', 'e', 'i')
('m', 'i', 't', 'e')
('m', 'i', 'e', 't')
('m', 'e', 't', 'i')
('m', 'e', 'i', 't')
('e', 't', 'i', 'm')
('e', 't', 'm', 'i')
('e', 'i', 't', 'm')
('e', 'i', 'm', 't')
('e', 'm', 't', 'i')
('e', 'm', 'i', 't')

In [55]:
type(p)

tuple

In [56]:
for p in permutations('time'):
    new_word = ''.join(p)
    print(new_word)

time
tiem
tmie
tmei
teim
temi
itme
item
imte
imet
ietm
iemt
mtie
mtei
mite
miet
meti
meit
etim
etmi
eitm
eimt
emti
emit

In [57]:
for p in permutations('time'):    
    new_word = ''.join(sorted(p))
    print(new_word)

eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt
eimt

In [58]:
sorted_word_group = 'eimt'

In [59]:
words_to_examine = ['time', 'mite', 'emit', 'item', 'rite']

In [60]:
for word in words_to_examine:    
    sorted_word = sorted(word)
    if ''.join(sorted_word) == sorted_word_group:
        print(word, 'is in the', sorted_word_group, 'group')
    else:
        print(word, 'is NOT in the', sorted_word_group, 'group')

time is in the eimt group
mite is in the eimt group
emit is in the eimt group
item is in the eimt group
rite is NOT in the eimt group

In [61]:
# so we're going to do the same with pandas.
# But we need to write a function to do this. 

def create_sort_word(word):
    sorted_word = sorted(word)
    output_word = ''.join(sorted_word)    
    return output_word

In [62]:
word_df['word_group'] = word_df['lcase'].map(create_sort_word)

In [63]:
word_df['sorted_word'] = word_df['lcase'].map(sorted)

In [64]:
word_df['word_group_2'] = word_df['sorted_word'].map(lambda x: ''.join(x))

In [65]:
word_df['word_group_3'] = word_df['lcase'].map(sorted).map(lambda x: ''.join(x))

In [66]:
word_df['word_group_4'] = word_df['lcase'].map(lambda x: ''.join(sorted(x)))

In [67]:
word_df.head()

,word,lcase,n_chars,first_letter,word_group,sorted_word,word_group_2,word_group_3,word_group_4
0,A,a,1,a,a,[a],a,a,a
2,aa,aa,2,a,aa,"[a, a]",aa,aa,aa
3,aal,aal,3,a,aal,"[a, a, l]",aal,aal,aal
4,aalii,aalii,5,a,aaiil,"[a, a, i, i, l]",aaiil,aaiil,aaiil
5,aam,aam,3,a,aam,"[a, a, m]",aam,aam,aam

In [68]:
# let's check our work
word_df.head()

,word,lcase,n_chars,first_letter,word_group,sorted_word,word_group_2,word_group_3,word_group_4
0,A,a,1,a,a,[a],a,a,a
2,aa,aa,2,a,aa,"[a, a]",aa,aa,aa
3,aal,aal,3,a,aal,"[a, a, l]",aal,aal,aal
4,aalii,aalii,5,a,aaiil,"[a, a, i, i, l]",aaiil,aaiil,aaiil
5,aam,aam,3,a,aam,"[a, a, m]",aam,aam,aam

In [69]:
# and the tail
word_df.tail()

,word,lcase,n_chars,first_letter,word_group,sorted_word,word_group_2,word_group_3,word_group_4
235881,zythem,zythem,6,z,ehmtyz,"[e, h, m, t, y, z]",ehmtyz,ehmtyz,ehmtyz
235882,Zythia,zythia,6,z,ahityz,"[a, h, i, t, y, z]",ahityz,ahityz,ahityz
235883,zythum,zythum,6,z,hmtuyz,"[h, m, t, u, y, z]",hmtuyz,hmtuyz,hmtuyz
235884,Zyzomys,zyzomys,7,z,mosyyzz,"[m, o, s, y, y, z, z]",mosyyzz,mosyyzz,mosyyzz
235885,Zyzzogeton,zyzzogeton,10,z,egnootyzzz,"[e, g, n, o, o, t, y, z, z, z]",egnootyzzz,egnootyzzz,egnootyzzz

In [70]:
# do a simple group by and sort to count our values
word_df['word_group_count'] = 1
select_columns = ['n_chars', 'word_group', 'word_group_count']
word_group_df = word_df[select_columns].groupby(select_columns[:-1]).agg(np.size)

In [71]:
# reset the index    
word_group_df = word_group_df.reset_index()

In [72]:
word_group_df.head()

   n_chars word_group  word_group_count
0        1          a                 1
1        1          b                 1
2        1          c                 1
3        1          d                 1
4        1          e                 1

In [73]:
word_group_df.tail()

        n_chars                word_group  word_group_count
215837       24  aacccgghhiillloooooppsty                 1
215838       24  aacdeehhiimoooprrrtttyyz                 1
215839       24  aaddeeefhhlllmooprstuxyy                 1
215840       24  aadeeehhhiillnnooopprttt                 1
215841       24  acccefhhiiiiillnoooppsst                 1

In [74]:
len(word_group_df)

215842

In [75]:
# select only values that occur more than once.
# word_group_df = word_group_df.loc[word_group_df['word_group_count'] > 1, ]

In [76]:
# very cool.
# So now we pull out the unique word count values, query the df,
# then write to disk.

In [77]:
n_char_list = word_group_df['n_chars'].unique().tolist()
n_char_list.sort()

In [78]:
n_char_list[:5]

[1, 2, 3, 4, 5]

In [79]:
# specify the proper line ending when using a csv writer.
output_path = 'H:/git/anagrams'
output_file = 'anagrams_found.txt'
output_fpn = os.path.join(output_path, output_file)

In [80]:
word_group_df.head()

   n_chars word_group  word_group_count
0        1          a                 1
1        1          b                 1
2        1          c                 1
3        1          d                 1
4        1          e                 1

In [81]:
s_time = time.time()
# use the csv writer to write this to disk
output_file = open(output_fpn, 'w', newline='')
cw = csv.writer(output_file)    

# intialize some counters
n_anagram_groups = 0
n_anagrams = 0

# enumerate over the word counts
for n_char in n_char_list[:3]:
    curr_df = word_group_df.loc[word_group_df['n_chars']==n_char, ]    
    # sort by the count
    # curr_df = curr_df.sort_values(by='word_group_count')

    # let's do some enumeration   
    word_group_list = curr_df['word_group'].unique().tolist()
    n_word_groups = len(word_group_list)

    print('...found', '{:,}'.format(n_word_groups), 'unique word groups within', n_char, 'digit words.')
    for i_wg, wg in enumerate(word_group_list):
        # the current hash value corresponds to a group of anagrams.
        # get that group of words as a list.
        curr_word_list = word_df.loc[word_df['word_group'] == wg, 'lcase'].tolist()
        # print(wg)
        # print(curr_word_list)

        cw.writerow(curr_word_list)
        # increment the counters to find the total number of anagram groups
        # and words
        n_anagram_groups += 1
        n_anagrams += len(curr_word_list)

# close my file
output_file.close()
e_time = time.time()

...found 26 unique word groups within 1 digit words.
...found 99 unique word groups within 2 digit words.
...found 845 unique word groups within 3 digit words.

In [82]:
p_time = e_time - s_time

In [87]:
print('...finding anagrams took', '{:,}'.format(round(p_time,1)), 'seconds...')

finding anagrams took 17.8 seconds...

In [84]:
# how many anagram groups and anagrams did we find?
n_anagram_groups = '{:,}'.format(n_anagram_groups)
n_anagrams = '{:,}'.format(n_anagrams)
print('...found', n_anagram_groups, 'anagram groups consisting of',
      n_anagrams, 'words...')

...found 970 anagram groups consisting of 1,459 words...